<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>companyId</key>
	<integer>20202</integer>
	<key>server</key>
	<string>https://cloud-10-0-20-48.liferay.com/</string>
	<key>groupId</key>
	<real>21387</real>
</dict>
</plist>
